*{
    margin: 0;
    font-family: 'Exo';
}
body{
    background: rgb(0, 93, 105);
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    box-sizing: border-box;
    /* padding: 10px; */
}
form{
    background-color: rgb(137, 228, 235);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    border-radius: 15px;
}

input{
    border-radius: 10px;
    width: 12rem;
    height: 1.4rem;
    color: rgb(5, 119, 119);
}

textarea{
    width: 100%;
    border-radius: 10px;
}